# Entorno de ejecucion
NODE_ENV=development
PORT=3000

# Base de datos de Reportes (PostgreSQL)
REPORTES_ENABLED=true
REPORTES_PG_HOST=localhost
REPORTES_PG_PORT=5432
REPORTES_PG_DATABASE=reportes
REPORTES_PG_USER=mi_usuario
REPORTES_PG_PASSWORD=mi_password
REPORTES_PG_SCHEMA=public
REPORTES_PG_ENCRYPT=false
REPORTES_PG_TRUST_SERVER_CERTIFICATE=true